@import "~react-vis/dist/style";

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

span[class^="Cell-dayOfMonth-"] {
  display: none;
}

p[class^="Cell-dayOfWeek-"]{
  font-size: 1.5em;
}