@import "~react-vis/dist/style";

html {
  margin: 0;
  font-family: "Tungsten A";
  //height: 100vh;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Tungsten A";
  //min-height: 100%;
}
